@use "sass:map";
@use "../custom";
@use "../modules/extends";

.content {
   background-color: map.get(custom.$grays, "300");
}

.header {
   @extend %box-shadow;

   background-color: white;
   display: grid;
   row-gap: 2.5rem;

   &__searchbox {
      display: flex;
      align-items: center;
   }

   .searchbox__magnify {
      margin-right: 1rem;
   }

   .header__icon {
      width: 30px;
   }

   .searchbox__input-container {
      background-color: map.get(custom.$grays, "300");
      padding: .5rem;
      border-radius: 100px;
      flex-grow: 1;
   }

   .searchbox__input {
      background-color: #00000000;
      border: none;
      width: 100%;
      display: block;
   }

   &__profile {
      display: flex;
      justify-content: center;
      gap: 1rem;
   }

   @include custom.media-breakpoint-up(xl) {
      grid-template-columns: 2fr 1fr;

      &__buttons {
         align-self: center;
      }

      &__profile {
         justify-content: start;
      }
   }
}

.main-content {
   max-width: 1500px;
   margin: 0 auto;

   .main-content__box {
      $pt: map.get(custom.$spacers, 4);
      $ps: map.get(custom.$spacers, 3);

      @extend %box-shadow;

      font-size: map.get(custom.$font-sizes, 6);
      background-color: white;
      border-radius: 16px;
      padding: $pt $ps;

      h2 {
         font-size: map.get(custom.$font-sizes, 4);
         text-transform: capitalize;
      }
   }

   .projects__grid {
      display: grid;
      row-gap: map.get(custom.$spacers, 4);
      grid-auto-rows: 400px;
      margin-bottom: map.get(custom.$spacers, 5);
   }

   .projects__grid-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 12px solid custom.$secondary;
      overflow: hidden;
      transition: transform 500ms ease;

      &:hover {
         transform: scale(1.02);
      }
   }

   @include custom.media-breakpoint-up(xl) {
      .projects__grid {
         grid-template-columns: 1fr 1fr;
         gap: map.get(custom.$spacers, 4);
      }
   }

   @include custom.media-breakpoint-up(xxl) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: map.get(custom.$spacers, 4);
   }
}