@use "../custom";

.dashboard {
   .dashboard__dashboard-icon {
      width: 50px;
      display: block;
   }

   .dashboard__li {
      margin-left: 12.5px;
      transition: margin 200ms linear;

      &:hover {
         margin-left: 18px;
      }
   }

   .dashboard__li img {
      width: 30px;
   }
}