@use '../modules/mixins' as *;

.body {
    height: 100vh;

    @include breakpoint(768px) {
        display: grid;
        grid-template-columns: 303px 1fr;
        grid-template-areas:
            "sidebar header"
            "sidebar content"; 
        grid-auto-rows: auto 1fr;
    }
}