@use './variables' as *;
@use './mixins' as *;

.mobile-sidebar-button {
    display: block;

    @include breakpoint(768px) {
        display: none;
    }
}
.bubble-button {
    border-radius: 50%;
    padding: 5px;
    transition: background-color 250ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, &:focus {
        background-color: $gray;
    }
}
.pill-button {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: $primary;
    color: $white;
    padding: 12px 30px;
    border-radius: 30px;
    transition: transform 200ms ease-in-out;

    &:hover, &:focus {
        transform: scale(0.9);
    }

    @include breakpoint(768px) {
        font-size: 1.8rem;
    }
}