@use './variables' as *;

.c-gray {
    color: $gray;
}
.c-dark-gray {
    color: $darkGray;
}
.fs-bold {
    font-weight: bold;
}
.fs-1 {
    font-size: 1.6rem;
}
.fs-2 {
    font-size: 2rem;
}
.fs-3 {
    font-size: 2.4rem;
}
.text-capi {
    text-transform: capitalize;
}
.user-bubble {
    background-color: $secondary;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-bubble--big {
    width: 80px;
    height: 80px;
}
.box-shadow {
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, .15);
}
.container {
    background-color: $white;
    border-radius: 12px;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, .15);
}
.line {
    background-color: $gray;
    height: 1px;
}
.mt {
    margin-top: 40px;
}
.mb-1 {
    margin-bottom: 5px;
}
.mb-2 {
    margin-bottom: 25px;
}
.mb-3 {
    
}
.nom {
    margin: 0;
}