@use './variables' as *;

.c-gray {
    color: $gray;
}
.c-dark-gray {
    color: $darkGray;
}
.user-bubble {
    background-color: $secondary;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-bubble--big {
    width: 80px;
    height: 80px;
}
.box-shadow {
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, .15);
}
.container {
    border-radius: 12px;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, .15);
}
.nom {
    margin: 0;
}