*, 
*::before, 
*::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
}
img {
    max-width: 100%;
    display: block;
}
button, input {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}
button {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}